<div class="container">
	<div class="row mt-5">
		<div class="col-12">
			<%= link_to 'Upload Media File', new_media_file_path(), class: "btn btn-success" %>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-12" align="center">
			<div class="row">
				<div class="col-4" style="height: 225px;">
					<div style="width: 100%; height: 175px; background-color:blue; border-radius: 5;"></div>
				</div>
				<div class="col-8" style="height: 225px;">
					<div style="margin: 0px 10px 0px 10px; padding: 25px; width:100%;" >
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>